body {
    background-color: #f4f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0 auto;
    padding: 0 50px;
}

h1 {
    color: sienna;
    font-weight: bold;
}

h2 {
    color: #ff0000;
}

h4 {
    color: #2e8b57;
}

a {
    text-decoration: none;
    color: black;
}

.clr {
    clear: both;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

a:visited {
    color: #4d0404;
}

.container {
    margin: auto;
    width: 80%;
}

.box-1 {
    background-color: #87ceeb;
    border: 3px solid black;
    padding: 10px 25px;
    margin: 20px 0;
}

.box-1 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted #175515;
    padding: 20px;
    margin: 20px 0;
}

.categories {
    border: 1px solid goldenrod;
    padding: 10px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    padding: 0;
    padding-left: 50px;
    list-style: none;
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url(./img/check.png);
}

.my-form {
    border: 1px solid black;
    padding: 10px 50px;
}

.my-form .form-group {
    padding-bottom: 10px;
}

.my-form label {
    display: block;
}

.my-form input[type="text"],
.my-form textarea {
    padding: 8px;
    width: 100%;
}

.button {
    background-color: darkblue;
    color: white;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background-color: #297ddf;
    color: #3d3c01;
}

.block {
    float: left;
    width: 33.3%;
    border: 1px solid red;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#main-block {
    float: left;
    width: 70%;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    background-color: #424242;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.p-box {
    background-image: url(./img/abstract-image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 800px;
    height: 500px;
    border: 1px solid green;
    margin-top: 30px;
    position: relative;
}

.p-box h2 {
    position: absolute;
    top: 100px;
}

.p-box h3 {
    position: absolute;
    left: 400px;
    top: 250px;
}

.fix-me {
    position: fixed;
    top: 400px
}

.my-list li:first-child {
    background: orange;
}

.my-list li:last-child {
    background: #00aeff;
}

.my-list li:nth-child(3) {
    background: #298338;
}

.my-list li:nth-child(even) {
    background: #c5c7c5;
}