body {
    background-color: #f4f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0 auto;
    padding: 0 50px;
}

h1 {
    color: sienna;
    font-weight: bold;
}

h2 {
    color: #ff0000;
}

h4 {
    color: #2e8b57;
}

.container {
    margin: auto;
    width: 80%;
}

.box-1 {
    background-color: #87ceeb;
    border: 3px solid black;
    padding: 10px 25px;
    margin: 20px 0;
}

.box-1 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted #f88787;
    padding: 20px;
    margin: 20px 0;
}